* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

:root {
  /* Typography */
  --ff-primary: 'Poppins', sans-serif;

  --fw-extra-light: 200;
  --fw-regular: 400;
  --fw-semi-bold: 600;

  /* Colors */
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-grey-500: hsl(234, 12%, 34%);
  --color-grey-400: hsl(212, 6%, 44%);
  --color-white: hsl(0, 0%, 100%);
}

main {
  border: 2px solid lightcoral;
  padding: 2rem;
}

.hero {
  text-align: center;
  width: min(35em, 90%);
  margin: 3rem auto;
}

.hero__subtitle {
  color: var(--color-grey-400);
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.hero__title {
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: var(--color-grey-500);
}

.hero__description {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  margin-block-start: 1.5rem;
  color: var(--color-grey-400);
}

.card__container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);

  gap: 1rem;

  max-width: 1000px;
  margin: 3rem auto;
}

.card {
  padding: min(5vw, 1.5rem);
  border-radius: 8px;
  box-shadow: 0px 5px 5px 5px
    color-mix(
      in srgb,
      var(--color-grey-400),
      transparent 80%
    );
}

.card--cyan {
  border-top: 8px solid var(--color-cyan);
}
.card--red {
  border-top: 8px solid var(--color-red);
}

.card--orange {
  border-top: 8px solid var(--color-orange);
}

.card--blue {
  border-top: 8px solid var(--color-blue);
}

.card__title {
  color: var(--color-grey-500);
}

.card__description {
  margin-top: 1rem;
  color: var(--color-grey-400);
}

.card__image {
  margin-top: 3rem;
  width: 25%;
  margin-left: auto;
}

.card__image img {
  width: 100%;
}

@media (min-width: 56.25em) {
  .container {
    max-width: 650px;
  }
  .card__container {
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    max-width: 1200px;
    gap: 2rem;
  }

  .card--cyan {
    grid-row: 2 / 4;
  }

  .card--blue {
    grid-row: 2 / 4;
  }

  .card--red {
    grid-column-start: 2;
    grid-row: 1 / 3;
  }

  .card--orange {
    grid-column-start: 2;
    grid-row: 3 / 5;
  }
}
